.accordion-work {
    position: relative;
    counter-reset: accordenNum;

    &__item {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }

    &__item.--active .accordion-work__img {
        opacity: 1;
        visibility: visible;
    }

    &__inner {
        border-radius: 8px;
        border: 1px solid #BBD1DC;
        background: #FFF;
        width: 50%;
        margin-left: auto;
        padding: 24px 15px;
        transition: border-color .3s ease-in-out;
        user-select: none;
        cursor: pointer;
        position: relative;
    }

    &__item.--active .accordion-work__inner,
    &__item:hover .accordion-work__inner {
        border-color: $red;
    }

    &__title {
        font-family: $titlefont;
        color: $titlecolor;
        @include fluidFontSize(18px, 24px, 480px, 1280px, 24px);
        line-height: 1.2;
        position: relative;
        padding-left: 55px;
        font-weight: 600;

        &::after {
            counter-increment: accordenNum;
            content: counter(accordenNum);
            position: absolute;
            top: -6px;
            left: 0;
            width: 40px;
            height: 40px;
            text-align: right;
            color: #FFF;
            font-size: 32px;
            font-family: $titlefont;
            font-weight: 700;
            line-height: 40px;
        }
    }

    &__title-icons {
        position: absolute;
        width: 40px;
        height: 40px;
        top: -8px;
        left: 0;
        svg path {
            transition: fill .3s ease-in-out;
        }
    }

    &__item.--active .accordion-work__title-icons path {
        fill: #F70431;
    }

    &__item.--active .accordion-work__title::before {
        background-image: url(../images/icons/list-decore.svg);
    }

    &__text {
        margin-top: 17px;
        margin-bottom: 8px;
    }

    &__inner-icon {
        position: absolute;
        right: 25px;
        top: 25px;
        transition: transform .3s ease-in-out;
        width: 16px;
        height: 16px;

        svg g {
            transition: fill .3s ease-in-out;
        }
    }

    &__item.--active .accordion-work__inner-icon {
        transform: rotate(45deg);

        svg g {
            fill: #F70431;
        }
    }

}


@media (max-width: 920px) {
    .accordion-work {
        &__img {
            display: none;
        }

        &__inner {
            width: 100%;
        }
    }
}

@media (max-width: 440px) {
    .accordion-work {
        &__inner-icon {
            right: 15px;
        }
    }
}