.accordion {

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows .3s ease-in-out;
    overflow: hidden;
  }

  &__item.--active .accordion__content {
    grid-template-rows: 1fr;
  }

}