.form-blitz {
	display: flex;
	justify-content: center;
	margin-bottom: 35px;

	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 0 24px;
		justify-content: center;
		flex: 1 1 200px;
	}

	&__item {
		flex: 1 1 200px;

		&.submit {
			flex: 0 1 150px;
		}

		.form__btn {
			height: 56px;
		}
	}

	&__input.input {
		height: 56px;
	}

	.form__text {
		height: 18px;
	}
}