.form-litle {
    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
        @include fluidMarginB(20px, 25px, 480px, 1024px, 40px);
    }

    &__item {
        flex: 1 1 150px;
    }

    &__item-full {
        flex: 1 1 100%;
    }

    &__label-tel {
        position: relative;

        &::before {
            content: "";
            right: 5px;
            @include bgbefore;
            width: 25px;
            height: 25px;
            background-image: url(../images/icons/whatsapp.svg);
            background-size: contain;
        }
    }

    &__check-inner {
        display: flex;
        gap: 2px;
        margin-top: 8px;
        cursor: pointer;
    }

    &__check-text {
        font-size: 11px;
    }

    &__protect-text {
        position: relative;
        font-size: 12px;
        padding-left: 30px;

        &::before {
            content: "";
            @include bgbefore;
            left: 0;
            position: absolute;
            width: 20px;
            height: 20px;
            background-image: url(../images/icons/shield.svg);
            background-size: contain;
        }
    }

    &__guarant {
        display: block;
        width: fit-content;
        margin: 10px auto 0 auto;
        color: #325D9C;
        font-size: 14px;
        line-height: 20px;
        text-decoration-line: underline;
        position: relative;
        padding-left: 25px;

        &::before {
            @include bgbefore;
            left: 0;
            width: 20px;
            height: 20px;
            background-image: url(../images/icons/guarant.svg);
        }
    }
}