.form-middle {
    &__title {
        text-align: center;
    }

    &__subtitle {
        text-align: center;
        margin-bottom: 25px;
        color: #445664;
        font-size: 12px;
        line-height: 16px;
    }
}