.reviews-tab {
    &__inner {
        max-width: fit-content;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
    }

    &__nav {
        padding: 16px;
        width: 240px;
        justify-content: center;
        transition: all .3s ease-in-out;
        color: #325d9c;
        border: 1px solid #325D9C;
        text-transform: uppercase;

        &.--active-tab {
            background-color: #325d9c;
            color: #fff;
        }
    }
}

@media (max-width: 420px) {
    .reviews-tab {
        &__nav {
            padding: 5px;
            font-size: 12px;
        }
    }
}