.blitz {
	background-color: #f3f8ff;
	padding: 40px 0;

	.container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 760px;
		color: #002e5d;
		gap: 16px;
	}
	&__title {
		text-align: center;
	}
	&__sub {
		font-size: 14px;
		text-align: center;
		color: #445664;
	}
	&__text {
		font-size: 12px;
		text-align: center;
		color: #102752;
	}
}
