.blog-slider {
    &__title {
        text-align: center;
    }

    &__body {
        user-select: none;
    }

    &__slide-inner {
        border-radius: 8px;
        border: 1px solid #E5E5E5;
        overflow: hidden;
    }

    &__content {
        padding: 10px;
    }

    &__slide-link img {
        max-height: 180px;
        object-fit: cover;
    }

    &__slide-meta {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &__slide-date {
        color: #BBD1DC;
        font-size: 14px;
    }

    &__slide-category {
        font-family: $titlefont;
        font-size: 14px;
        text-transform: uppercase;

        a {
            @include hover;
            color: #445664;
        }
    }

    &__slide-title {
        font-size: 18px;
        line-height: 24px;

        a {
            color: #325D9C;
            @include hover;
        }
    }

    &__nav {
        max-width: fit-content;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-pagination-bullet {
        width: 16px;
        height: 16px;
    }
}