.cooperation {

    &__items {
        --gap: 25px;
        --elements: 8;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--gap);
        padding: 30px 0;
        border-top: 1px solid #BBD1DC;
        border-bottom: 1px solid #BBD1DC;

    }

    &__item {
        background: #FFF;
        width: $layout;
    }

    &__item-head {
        position: relative;
    }

    &__item-icon {
        width: 32px;
        height: 32px;
        object-fit: cover;
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 20;
    }

    &__item-title {
        max-width: fit-content;
        padding-left: 55px;
        position: relative;
        color: #002E5D;
        font-weight: 500;
        font-size: 16px;
        font-family: $titlefont;
        line-height: 1.2;
        // text-transform: capitalize;
    }

    &__text {
        color: #445664;
        font-size: 16px;
        margin-top: 25px;
    }
}

@media (max-width:1280px) {
    .cooperation {
        &__items {
            justify-content: center;
            gap: 35px 25px;
        }

        &__item {
            width: auto;
        }
    }
}

@media (max-width:1280px) {
    .cooperation {
        &__items {
            flex-direction: column;
            align-items: start;
        }
    }
}