.edulab {
    &__title {
        font-size: 24px;
        color: $titlecolor;
        margin-bottom: 15px;
    }

    &__inner {
        display: flex;
        gap: 25px;
    }

    &__col {
        border-radius: 8px;
        border: 1px solid #E5E5E5;
        background: #FFF;
        width: 50%;
        height: fit-content;
    }

    &__item {
        border-bottom: 1px solid #E5E5E5;
        padding: 20px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        font-size: 16px;

        &:last-child {
            border: none;
        }

        span {
            max-width: 255px;
            height: fit-content;
        }

        span:last-child,
        a {
            color: #102752;
        }

        a {
            @include hover;
        }

				span:last-child {
					text-align: right;
				}
    }

    &__reg,
    &__gesh,
    &__adress,
    &__time,
    &__phone,
    &__mail {
        position: relative;
        padding-left: 25px;

        &::before {
            @include bgbefore;
            left: 0;
            width: 16px;
            height: 16px;
        }
    }

    &__reg::before {
        background-image: url(../images/icons/impressum/reg.svg);
    }

    &__gesh::before {
        background-image: url(../images/icons/impressum/geh.svg);
    }

    &__adress::before {
        background-image: url(../images/icons/impressum/adress.svg);
    }

    &__time::before {
        background-image: url(../images/icons/impressum/time.svg);
    }

    &__phone::before {
        background-image: url(../images/icons/impressum/phone.svg);
    }

    &__mail::before {
        background-image: url(../images/icons/impressum/mail.svg);
    }
}

@media (max-width: 880px) {
    .edulab {
        &__inner {
            flex-direction: column;
        }

        &__col {
            width: 100%;
        }
    }
}

@media (max-width: 440px) {
    .edulab {
        &__item {
            padding: 15px;
            flex-direction: column;
            gap: 10px;

            span {
                max-width: 100%;
            }
        }
    }
}