.hero.hero-small
	padding-top: 92px
	padding-bottom: 0px
	background-color: unset
	background-position: center center
	background-size: cover

	&:before
		display: none

	.hero__title
		max-width: unset
		min-height: unset
		margin-bottom: 72px

	.single-breadcrumb
		border-bottom: unset
		margin-top: 32px
